*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.caixa_superior {
    background-image: url("./images/capa_site.png");
    background-size: cover;
    height: 90vh;
}

.cabecalho {
    padding-top: 25px;
    padding-left: 35px;

}

.titulo_cabecalho  {
    font-size: 30px;
    color: #FFFFFF;
    display: inline;
}

.link_cabecalho {
    font-size: 20px;
    color: #FFFFFF;
    display: inline;
    margin-left: 40px;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 58px;
    color: #FFFFFF;
    position: relative;
    top: 400px;
    margin-left: 35px;
}

form {
        opacity: 0;
        transition: opacity 1s linear;
        background-color: #FFFFFF;
        border-radius: 10px;
        float: right;
        padding: 25px;
        margin-right: 30px;
        position: relative;
        bottom: 100px;
    }

    
.mostrar_formulario{
        opacity: 1;
    }


.titulo_formulario {
        font-size: 25px;
        color: black;
        margin-bottom: 30px;
        text-align: center;
    }


input {
        display: block;
        background-color: #F9F9F9;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        height: 50px;
        width: 300px;
        margin-bottom: 20px;
        padding-left: 10px;
        margin-top: 5px;
            }

label {
        font-size: 20px;
        color: black;
        margin-top: 50px;
    }


button {
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #219653;
    color: #FFFFFF;
    margin-left: 28px;
    margin-top: 25px;
}



textarea {
    display: block;
    background-color: #F9F9F9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 100px;
    width: 300px;
    padding-left: 10px;
    margin-top: 5px;
}

.caixa_central {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#titulo_meio {
    font-size: 80px;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    /*margin-left: 430px;*/
    text-align: center;
}



.card {
    width: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
}


.titulo_card {
    background: #219653;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
}


ul {
    padding: 20px  ;
}

li {
    margin-bottom: 5px;
    margin-left: 10px;
}

.caixa_inferior {
    background-color: #013256;
    
}

#titulo_inferior {
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
}

.paragrafo_inferior {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    padding: 20px 50px 50px 50px;
}

#titulo_linkedin {
    color: black;
    font-size: 70px;
    text-align: center;
    padding-top: 20px;
}

img {
    margin-top: 50px;
    border-radius: 50%;
    display: inline-block;
    /* margin-left: 310px; */
    cursor: pointer;
}

.desc_linkedin {
    width: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
    margin-top: 30px;

}

.titulo_bio {
    background: #013256;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    font-size: 25px;
}

.caixa_descricao {
    display: inline-block;
    /* margin-left: 310px; */
    margin-bottom: 50px;
}

.nome {
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.box_behind {
    text-align: center;
    /* align-items: center; */
}

html {  scroll-behavior: smooth;}





/*
    width -> Largura
    height -> Altura
    top -> Cima
    bottom -> Baixo
    left -> Esquerda
    right -> Direita

    background-image: -> Troca a imagem de fundo
    font-siZe: -> Troca o tamanho do texto
    color: -> Troca a cor do texto (vc consegue navegar e escolher uma cor pelo nome, mas o mais aconselhado é pelo código)
    display: inline -> Coloca na mesma linha
    font-family: -> Troca a fonte do texto
    margin: -> Distanciamento em relaçao ao lado de fora
    padding: -> Distanciamento em relação ao lado de dentro
    cursor: pointer -> Deixa o cursor do mouse como uma "mãozinha" em cima dos locais configurados
    position: -> posiciona o elemento na tela de acordo com a sua escolha (relative: Relativo a algum ponto de referência)
    background-color -> Insere uma cor de fundo
    border-radius -> arredonda as bordas
    border -> Muda a cor o tamanho e o tipo de borda do elemento 
    float -> junta os elementos em um lado específico da tela
    text-align -> alinha o texto de acordo com a posição que você selecionar
    justify-content -> modifica e alinha figuras entre uma box
    <img src= "./capa_site.png" /> ->          Esse código é para colocar uma imagem


    Unidades de medida: 
    px -> pixel
    vh -> view.heigth (A Altura da tela dividido por 100)
    vw -> view.width (A largura da tela dividido por 100)

    cm -> centímetro
    m -> metro
*/
